@model MadampeTeaEstate.PMS.Models.CropDetailsModel
@{
    ViewBag.Title = "Crop Details";
}

<script type="text/javascript">

    function setCropDetails() {

        var requestData = {
            estateLeafWeight: $("#EstateLeafWeight").val(),
            boughtLeafWeight: $("#BoughtLeafWeight").val()
        };

        $.post("/Base/SetCropDetails", requestData, function (responseData) {

            $("#TotalGreenLeafWeight").val(responseData.totalGreenLeafWeight);
            $("#TotalProductionWeight").val(responseData.totalProdutionWeight);
            $("#TotalWestageWeight").val(responseData.totoalWestageWeight);
        });
    }

    function confirmSave() {

        if (confirm('This will save the details, do you want to continue?')) {

            return true;
        }
        return false;
    }

    function redirectToHome() {
        window.location = "/Home/Index";
    }

    function closeSuccessMessage() {

        $("#SaveSuccessMessage").hide();
    }

</script>

<style>
    table, td, th {
        border: 1px solid navy;
        border-collapse: collapse;
        padding: 5px;
    }

    th {
        border: 1px solid black;
        background-color: steelblue;
        color: white;
    }

    .tableborderless {
        border: 0px;
    }

        .tableborderless td, tr {
            border: 0px;
            padding: 5px;
        }

    .popupWindow {
        background-color: whitesmoke;
        width: 400px;
        padding: 20px;
    }
</style>

<hgroup class="title">
    <h1> <font face="verdana" color="DarkBlue"> Add Crop Details</font></h1>
</hgroup>
<br />

<section id="loginForm">


    @if (Model.IsRedirectedAfterSave)
    {
        <div id="SaveSuccessMessage" class="popupWindow">
            <font color="Red">@Model.OpperationMessage</font>
            <br /><br />
            <input type="button" value="OK" onclick=" closeSuccessMessage() " />
        </div>
    }

    <div id="MenuItems">

        @using (Ajax.BeginForm("SaveCropDetails", new AjaxOptions { HttpMethod = "POST", OnSuccess = "submitSuccess" }))
        {

            <table class="tableborderless">
                <tr>
                    <td style="width:200px;">
                        Shedule Date
                    </td>
                    <td>
                        @Html.TextBox("SheduleDate", String.Format("{0:d}", Model.SheduleDate), new { type = "date", required = "required", style = "width: 230px;" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Estate Leaf weight
                    </td>
                    <td>
                        @Html.TextBox("EstateLeafWeight", Model.EstateLeafWeight, new { placeholder = "Type here", required = "required", style = "width: 230px;", @onchange = "setCropDetails();" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Bought Leaf weight
                    </td>
                    <td>
                        @Html.TextBox("BoughtLeafWeight", Model.BoughtLeafWeight, new { placeholder = "Type here", style = "width: 230px;", @onchange = "setCropDetails();" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Supplier Name
                    </td>
                    <td>
                        @Html.DropDownList("SupplierId", Model.SupplierDetailsList, new { style = "width: 230px;" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Total Green Leaf Weight
                    </td>
                    <td>
                        @Html.TextBox("TotalGreenLeafWeight", Model.TotalGreenLeafWeight, new { @readOnly = true, style = "width: 130px;" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Total Prodution Weight
                    </td>
                    <td>
                        @Html.TextBox("TotalProductionWeight", Model.TotalProductionWeight, new { @readOnly = true, style = "width: 130px;" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Total Westage Weight
                    </td>
                    <td>
                        @Html.TextBox("TotalWestageWeight", Model.TotalWestageWeight, new { @readOnly = true, style = "width: 130px;" })
                    </td>
                </tr>

            </table>
            <br /> <br />

            <button type="submit" name="saveButton" onclick="javascript:return confirmSave();">Save Details</button>

            <button type="button" onclick="javascript:redirectToHome();">Cancel</button>


        }

        </div>
</section>

<section class="social" id="socialLoginForm">
    <br/>
    <img src="/Images/crop_detail.jpg" alt="Home" style="width: 520px;" />
</section>


